
*{

    margin: 0;
    padding: 0;
}


.header-picture #pic1{

   
  
width:100%;
position: relative;
}

.header-desc{
position: absolute;
left: 1000px;
width: 300px;
top:200px;
font-family: 'Courier New', Courier, monospace;
}


.header-para{
    font-size: 25px;
    margin-bottom: 20px;
}


.header-heading{

    margin-bottom: 20px;
    
}

.btn-primary{

  color: white;
  background-color: orangered;
  border: none;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;

}


 #pic2{
height:500px;
width:auto;

}

.person{
    display:flex;
    gap:200px;
margin-left: 200px;

}

.person-para,li{
    font-size: 20px;
    margin-bottom: 10px;
}


.person-desc{

width: 300px;
margin-top: 60px;
margin-bottom: 50px;
font-family: 'Courier New', Courier, monospace;
font-size: 22px;

}
 

header{

    margin-bottom: 90px;
}

body{
    font-family: 'Courier New', Courier, monospace;
  background-color: rgb(250, 245, 197);
}


.person-heading{

margin-bottom: 15px;

}


.sec2-heading{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}

.my-plans{
    display: flex;
    gap: 120px;
    justify-content: center;
}

h2{

    font-size: 40px;
}

h3{

    font-size:28px;
}

h4{
    font-size: 20px;
    color:rgb(51, 51, 51);
}

.logo1,.logo2,.logo3,.logo4{
    text-align: center;
}


.watch{
    position: relative;
  width:200px;
  top:160px;
  height: 100px;
  margin-left: 110px;
}

.absolute{
top:0;
    position: absolute;
    width:200px;

}

.absolute2{
top: 80px;
left: 100px;
    position: absolute;

}

#absh{
width: 350px;
color: white;

}

.btn{

color: rgb(236, 11, 11);
border: none;
padding: 20px;
background-color: white;
width: 150px;
font-size: 20px;
}