
*{

    margin: 0;
    padding: 0;
}


.header-picture #pic1{

    height: 400px;
  
width:950px ;
position: relative;
}

.header-desc{
position: absolute;
left: 600px;
width: 250px;
top:80px;

}


.header-para{
    font-size: 15px;
    margin-bottom: 20px;
}


.header-heading{

    margin-bottom: 20px;
    
}

.btn-primary{

  color: white;
  background-color: orangered;
  border: none;
  padding: 10px;

}