
*{

    margin: 0;
    padding: 0;
}


.header-picture #pic1{

    height: 400px;
  
width:950px ;
position: relative;
}

.header-desc{
position: absolute;
left: 600px;
width: 250px;
top:90px;
font-family: 'Courier New', Courier, monospace;
}


.header-para{
    font-size: 15px;
    margin-bottom: 20px;
}


.header-heading{

    margin-bottom: 20px;
    
}

.btn-primary{

  color: white;
  background-color: orangered;
  border: none;
  padding: 10px;

}


 #pic2{
height:300px;
width:auto;

}

.person{
    display:flex;
    gap:80px;
margin-left: 200px;

}

.person-para,li{

    font-size: 15px;
}


.person-desc{

width: 200px;
margin-top: 60px;
margin-bottom: 50px;
font-family: 'Courier New', Courier, monospace;
}
 

header{

    margin-bottom: 90px;
}

body{
    font-family: 'Courier New', Courier, monospace;
  background-color: rgb(250, 245, 197);
}


.person-heading{

margin-bottom: 12px;

}


.sec2-heading{
    text-align: center;
    margin-bottom: 20px;
}

.my-plans{
    display: flex;
    gap: 10px;
    justify-content: center;
}